body{
    background-color: rgb(68, 233, 255);
    color: rgb(0, 0, 0);
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


/* uso de flexbox */
.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    background-color: rgb(8, 180, 180);
}

/* selector avanzado: padre > hijo */
.navbar > li{
    padding: 10px;
    border: 1px solid black;
    margin: 1px;
}

/* barra de navegacion */
.navbar > li:hover{
    background-color:crimson;
}

/* eliminamos los valores por defecto de la etiqueta <a> */
a{
    text-decoration: none;
    color: black;
}