body{
    background-color: black;
    color:  rgb(255, 255, 255);
}

h1{
    text-align: center;
}

*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


/* uso de flexbox */
.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    background-color: rgb(219, 219, 219);
}

/* selector avanzado: padre > hijo */
.navbar > li{
    padding: 10px;
    border: 1px solid black;
    margin: 1px;
}

/* barra de navegacion */
.navbar > li:hover{
    background-color:crimson;
}

/* eliminamos los valores por defecto de la etiqueta <a> */
a{
    text-decoration: none;
    color: black;
}